MONITOR_URL=https://website.com
CHECK_INTERVAL_MINUTES=1
REPORT_INTERVAL_MINUTES=2
DB_PATH=monitor.db
REPORT_TEMPLATE_PATH=report_template.html
REPORT_OUTPUT_PATH=report.html
REPORT_HEADER=WWW.SITE.COM
LOG_LEVEL=INFO
